/* TO DO:
Style h1 and h2
Style grid, so doesn't move around
Search bar moves around when button is hovered
*/

body {
	font-family: sans-serif; 
}

#main {
    height: auto;
    padding: 5px;
    /* remove top two lines after positioning */
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    position: relative;
}

#topnav {
    padding-top: 10px;
    width: 100%;
    text-align: center;
}

#visit {
    position: absolute;
    top: 10px;
    left: 10px;
}

#youtube {
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: 600;
}

#youtube img {
    vertical-align: middle;
}

#visit img {
    vertical-align: middle;
}

#topnav a {
	text-decoration: none;
}

h1 {
    margin-left: 0px;
}

#input {
    border-radius: 5px;
    font-size: 0.7em;
    padding: 5px;
}

#input:focus, input:hover {
    outline: 0;
}

#button {
    background: none;
    border: 1px solid LightGrey;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    font-size: 0.9em;
    margin: 5px;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    width: 50px;
}

#button:hover{
    border: 2px solid DarkGrey;
}

#response {
    font-size: 1.5em;
    padding: 10px;
}

#grid {
    display: none;
}

#player {
    position: relative;
    padding-top: 10px;
    display: none;
}
 
#player iframe,
#player object,
#player embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
}

.videoitem img {
    width: 175px;
}
.videoitem h2 {
    font-size: 1em;
}

.videoitem {
    border:1px dotted LightGrey;
    float: left; 
    margin: 5px;
    padding: 5px;
    width: 250px;
}

.videoitem:hover {
	cursor: pointer;
	border: 3px solid DarkGrey;
}

#footer {
    border: 1px dashed red;
    font-size: 1em;
    padding-bottom: 10px;
    padding-top: 10px;
    position: relative;
}

#youtube-logo {
    vertical-align: middle;
}
