/* TO DO:
Youtube logo not behaving when resize small
Ideally, all pictures would be aligned
Fix searchfield - out of style range
*/

body {
	font-family: Helvetica, sans-serif; 
}

#main {
    height: auto;
    padding: 5px;
    /* remove top two lines after positioning */
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    position: relative;
    text-align: center;
}

#topnav {
    padding-top: 10px;
    width: 100%;
    text-align: center;
}

#topnav a:not(#button), #topnav a:visited:not(#button) {
    color: black;
    text-decoration: none;
}

#home {
    position: absolute;
    top: 10px;
    left: 10px;
}

#home img {
    width: 32px;
}

#youtube {
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: 600;
}

#youtube-logo {
    vertical-align: middle;
}

#topnav img {
    vertical-align: middle;
}

#topnav a {
	text-decoration: none;
}

#search img {
    width: 38px;
}

h1 {
    margin-left: -20px;
}

#input {
    border-radius: 5px;
    font-size: 0.7em;
    padding: 5px;
}

#input:focus, input:hover {
    outline: 0;
}

#button {
    background: none;
    border: 1px dotted DarkGrey;
    color: DarkGrey;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    font-size: 0.9em;
    margin: 5px;
    padding: 5px;
    text-align: center;
    width: 50px;
}

#button:hover{
    border: 1px dotted Grey;
    color: black;
}

#response {
    font-size: 1.5em;
    padding: 10px;
}

.videopart {
    text-align: center;
    margin-left: auto;
    margin-right: auto;   
}

#grid {
    display: none;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

#sorted {
    font-size: 0.8em;
    position: absolute;
    top: -15px;
    left: 10px;
    display: block;
    color: DarkGrey;
}

/* http://stackoverflow.com/questions/14250583/safari-on-ipad-ios6-does-not-scale-html5-video-to-fill-100-of-page-width */
#player {
    position: relative;
    display: none;
    width: 640px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
}
 
#player iframe,
#player object,
#player embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 640px;
    height: 360px;
}

#back {
    position: absolute;
    bottom: 0;
    left: 0;
    cursor: pointer;
    color: DarkGrey;
}

#back:hover {
    text-decoration: underline;
    color: black;
}


.videoitem {
    border:1px dotted LightGrey;
    margin: 5px;
    padding: 5px;
    width: 265px;
    height: 200px;
    float: left;
}

.videoitem:hover {
	cursor: pointer;
	border: 1px dotted red;
}


.videoitem img {
    width: 175px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.videoitem p {
    font-size: 0.9em;
    color: rgb(110,110,110);
    padding-right: 10px;
    padding-left: 15px;
    text-align: left;
}

